DISCORD_TOKEN=""
CLIENT_ID=""
DATABASE_URL="postgres://postgres:verysecurepassword@db:5432/fansbot"
REDIS_SECRET="" # generate with openssl rand -base64 32
BETTER_AUTH_SECRET="" # generate with openssl rand -base64 32